
.DS_Store
*.csv
src/.ipynb_checkpoints/linear_models-checkpoint.ipynb
src/.ipynb_checkpoints/tree_models-checkpoint.ipynb
src/.ipynb_checkpoints/naiveBayes_model-checkpoint.ipynb
src/.ipynb_checkpoints/pca_trials-checkpoint.ipynb
